.mdl-data-table{ width: 100% !important; }
.mdl-data-table-center td, .mdl-data-table-center th{text-align: center;}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* Base styling */

.search__container { padding-top: 0px; padding-left:5%; width: 100%; }
.search__input {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

.search__title, .range__input { font-size: 22px; font-weight: 900; color: #ff8b88; padding-left: 10px; margin: 0px 20px; }

.range__input {
    width: 30%;
    padding: 12px 24px; 
    background-color: transparent; 
    transition: transform 250ms ease-in-out; 
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input {
    width: 50%;
    padding: 12px 24px; 
    background-color: transparent; 
    transition: transform 250ms ease-in-out; 
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.search__input::placeholder, .range__input: placeholder; { color: rgba(87, 87, 86, 0.8); text-transform: uppercase; letter-spacing: 1.5px; }
.search__input:hover, .search__input:focus, .range__input:hover, .range__input:focus { padding: 12px 0; outline: 0; border: 1px solid transparent; border-bottom: 1px solid #575756; border-radius: 0; background-position: 100% center; }

.credits__container { margin-top: 24px; }
.credits__text { text-align: center; font-size: 13px; line-height: 18px; }
.credits__link { color: #ff8b88; text-decoration: none; transition: color 250ms ease-in; }
.credits__link:hover, .credits__link:focus { color: rgb(191, 137, 135); }

.tns_card { margin: 20px 0px 20px 0px; padding: 20px; border-radius: 20px; box-shadow: 0 3px 6px 0 rgba(39, 45, 59, 0.2); background-color: #fff; }
.small_col .tns_card { width: 300px; }
img.tag { width: 36.1px; height: 25px; margin: 27px 15.9px 6px 0; object-fit: contain; }
.tns_card_title{ margin: 4px 15px 21px 0; font-family: Montserrat; font-size: 23px; font-weight: 900; font-stretch: normal; font-style: normal; line-height: 1.22; letter-spacing: normal; text-align: left; color: #272d3b; }
.tns_tag_value{ white-space: normal; margin: 15px 5px; font-family: Montserrat; font-size: 18px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 1.23; letter-spacing: normal; text-align: left; color: #272d3b; }
.tns_tag_value.emoji_pop{ font-size: 50px; margin-top: 10px; }
.tns-message{ max-width: 380px; white-space: normal; background-color: #e2ffc7; padding: 0px 10px; text-align: left; border-radius:6px; }
#message_log{ overflow-x: hidden; }

.gauge-container { width: 210px; height: 210px; display: block; padding: 10px; }
.gauge-container > .gauge .dial { stroke: #eee; stroke-width: 2; fill: rgba(0,0,0,0); }
.gauge-container > .gauge .value { stroke-width: 2; fill: rgba(0,0,0,0); }
.gauge-container > .gauge .value-text { font-family: sans-serif; font-weight: bold; font-size: 1em; }
.gauge-container.red > .gauge .value{ stroke: rgb(228, 85, 85); }
.gauge-container.red > .gauge .value-text { fill: rgb(228, 85, 85); }
.gauge-container.green > .gauge .value{ stroke: rgb(142, 228, 85); }
.gauge-container.green > .gauge .value-text { fill: rgb(142, 228, 85); }

/* WRAPPERS */
#wrapper { width: 100%; overflow-x: hidden; }
.wrapper { padding: 0 20px; }
.wrapper-content { padding: 20px 10px 40px; }
#page-wrapper { padding: 0 15px; min-height: 568px; position: relative !important; }
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 240px;
    min-height: 2002px;
  }
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before{ content: none; }
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{ content: none; }
table.dataTable thead th { background: transparent !important; white-space: nowrap; }
table.dataTable thead span.sort-icon { display: inline-block; padding-left: 5px; width: 16px; height: 16px; }
table.dataTable thead .sorting span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_both.png') no-repeat center right; }
table.dataTable thead .sorting_asc span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_asc.png') no-repeat center right; }
table.dataTable thead .sorting_desc span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_desc.png') no-repeat center right; }
table.dataTable thead .sorting_asc_disabled span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_asc_disabled.png') no-repeat center right; }
table.dataTable thead .sorting_desc_disabled span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_desc_disabled.png') no-repeat center right; }
