[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "==0.4.5"
django = "==3.2.5"
django-crontab = "==0.7.1"
django-enumfield = "==2.0.2"
django-filter = "==2.4.0"
django-registration = "==3.2"
django-storages = "==1.11.1"
django-wkhtmltopdf = "==3.3.0"
djangorestframework = "==3.12.4"
emoji = "==1.4.1"
numpy = "*"
pathlib2 = "==2.3.6"
pdfkit = "==0.6.1"
regex = "*"
sentry-sdk = "==1.3.1"
tzlocal = "==3.0"
hashids = "==1.3.1"
weasyprint = "*"
nltk= "==3.6.5"
Jinja2 = "==3.0.1"
pandas = "*"
PyDrive = "==1.3.1"
wordcloud = "*"
textblob = "*"
mysqlclient = "*"
reportlab= "*"
xhtml2pdf= "*"
cairocffi = "*"
chardet = "*"

[dev-packages]

[requires]
python_version = "3.10"
