{% extends "base_dashboard.html" %}

{% block css %}
<link rel="stylesheet" href="{{ static('node_modules/material-design-lite/material.min.css') }}" />
<link rel="stylesheet" href="{{ static('node_modules/parsleyjs/src/parsley.css') }}" />
<link rel="stylesheet" href="{{ static('node_modules/font-awesome/css/font-awesome.min.css') }}">

<link rel="stylesheet" href="{{ static('css/data_table.css') }}">
{% endblock %}

{% block main_content %}

<!-- section header -->
<div class="bg-white rounded clearfix p-2 mb-4">

    <h5 class="title">
        <span class=""><i class="fi fi-users"></i></span>&nbsp;&nbsp;<span class="text-primary">Counselors Assigned to you</span> 
    </h5>

</div>
<!-- /section header -->

<div class="app-main__inner">
    <div class="row">

        <div class="col-lg-6 col-md-6">
            <div class="card">
                {% for user in assigned %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ user.counselor.first_name + " " + user.counselor.last_name }}
                </li>
                {% endfor %}
            </div>
        </div>
    </div>
    

</div>
{% endblock %}

{% block modals %}


{% endblock %}

{% block javascript %}
<script type='text/javascript' src="{{ static('plugins/datatables/datatables.min.js') }}"></script>
<script type='text/javascript' src="{{ static('node_modules/material-design-lite/material.min.js') }}"></script>
<script type='text/javascript' src="{{ static('node_modules/parsleyjs/dist/parsley.min.js') }}"></script>
<script type='text/javascript' src="{{ static('node_modules/micromodal/dist/micromodal.min.js') }}"></script>
<script type='text/javascript' src="{{ static('node_modules/jquery-form/dist/jquery.form.min.js') }}"></script>
<script type='text/javascript'
    src="{{ static('node_modules/jquery-validation/dist/jquery.validate.min.js') }}"></script>
<script type='text/javascript' src="{{ static('node_modules/bootstrap-notify/bootstrap-notify.js') }}"></script>

{% endblock %}