<!DOCTYPE html>
<html>
<title>Assign a user</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
<link rel="stylesheet" href="main.css" type="text/css">
<body>
    <div class="container-fluid">
        <div class="row">
          <div class="page_header">
            <div class="left">
                <h1>Dashboard</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-2.html"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item">Assign Counselors to Advisor</li>
                </ol>
            </div>
            <div class="right">
                Business Advisor: Ayobami Esther
            </div>
        </div>
            <div class="col-2"></div>
            <div class="col-8">
              <br>
                <div class="row">
                    <div class="col-6">

                      <div class="card ">
                        <div class="input-group input-group-transparent">
                          <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                          <input id="myInput" type="text" onkeyup="myFunction()" class="form-control" placeholder="Search Business Counselors">
                      </div>
                        <table id="myTable">
                          <tr class="header">
                            <th style="width:60%;">Name</th>
                            <th style="width:40%;"></th>
                          </tr>
                          <tr>
                            <td>Egide Kamuzinzi Nizerimana</td>
                            <td><button type="button" class="btn btn-outline-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill"
                                  viewBox="0 0 16 16">
                                  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                  <path fill-rule="evenodd"
                                    d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z">
                                  </path>
                                </svg>
                              </button></td>
                          </tr>
                          <tr>
                            <td>Michael Sambou</td>
                              <td><button type="button" class="btn btn-outline-primary">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill"
                                    viewBox="0 0 16 16">
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                    <path fill-rule="evenodd"
                                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z">
                                    </path>
                                  </svg>
                                </button></td>
                          </tr>
                          <tr>
                            <td>Butterfly Nigeria</td>
                              <td><button type="button" class="btn btn-outline-primary">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill"
                                    viewBox="0 0 16 16">
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                    <path fill-rule="evenodd"
                                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z">
                                    </path>
                                  </svg>
                                </button></td>
                          </tr>
                          <tr>
                            <td>Ayoby Joshua</td>
                              <td><button type="button" class="btn btn-outline-primary">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill"
                                    viewBox="0 0 16 16">
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                    <path fill-rule="evenodd"
                                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z">
                                    </path>
                                  </svg>
                                </button></td>
                          </tr>
                          <tr>
                            <td>Sambou Deborah</td>
                              <td><button type="button" class="btn btn-outline-primary">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill"
                                    viewBox="0 0 16 16">
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                    <path fill-rule="evenodd"
                                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z">
                                    </path>
                                  </svg>
                                </button></td>
                          </tr>
                          <tr>
                            <td>Kamuzinzi Marie of Nazareth</td>
                              <td><button type="button" class="btn btn-outline-primary">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill"
                                    viewBox="0 0 16 16">
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                    <path fill-rule="evenodd"
                                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z">
                                    </path>
                                  </svg>
                                </button></td>
                          </tr>
                        </table>
                      </div>

                    </div>


                    <div class="col-6">
                      <div class="card flex-fill">
                        <div class="header">
                          <h4>Counselors Assigned to Ayobami E.</h4>
                        </div>
                        <div>
                          <table id="myTable">
                            <tr>
                              <td>Esther Ayobami Aolenrewadju</td>
                              <td><button type="button" class="btn btn-outline-danger">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash-fill"
                                    viewBox="0 0 16 16">
                              
                              
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                    <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"></path>
                                  </svg>
                                </button>
                            </tr>
                            
                            <tr>
                              <td>Lechero Ghana</td>
                              <td><button type="button" class="btn btn-outline-danger">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill"
                                    viewBox="0 0 16 16">
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                    <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"></path>
                                  </svg>
                                </button></td>
                            </tr>
                            
                            <tr>
                              <td>Egidius Rwanda</td>
                              <td><button type="button" class="btn btn-outline-danger">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill"
                                    viewBox="0 0 16 16">
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                    <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"></path>
                                  </svg>
                                </button></td>
                            </tr>
                            
                          </table>
                        </div>
                        
                      </div>
                      
                    </div>


                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</body>

</html>

<style>
  .page_header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E9E9;
  }
  .btn-animated-y .btn-inner--hidden {
    left: 0;
    bottom: -150%;
    -webkit-transition: bottom .3s ease 0s;
    transition: bottom .3s ease 0s;
}

.btn-animated .btn-inner--hidden {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
</style>

<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
