<!DOCTYPE html>
<html>
<title>chat window</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
<link rel="stylesheet" href="main.css" type="text/css">

<body>
    
        <!-- <header id="header" class="d-flex align-items-center rounded-top">

            <!- NAVBAR -->
            <div class="container-fluid position-relative">

                <nav class="navbar navbar-expand-lg navbar-light justify-content-lg-between justify-content-md-inherit h--70">

                    <div class="align-items-start">
                        
                        <!-- 
                            sidebar toggler 
                        -->
                        <a href="#aside-main" class="btn-sidebar-toggle h-100 d-inline-block d-lg-none justify-content-center align-items-center p-2">
                            <span class="group-icon">
                                <i>
                                    <svg width="25" viewBox="0 0 20 20">
                                        <path d="M 19.9876 1.998 L -0.0108 1.998 L -0.0108 -0.0019 L 19.9876 -0.0019 L 19.9876 1.998 Z"></path>
                                        <path d="M 19.9876 7.9979 L -0.0108 7.9979 L -0.0108 5.9979 L 19.9876 5.9979 L 19.9876 7.9979 Z"></path>
                                        <path d="M 19.9876 13.9977 L -0.0108 13.9977 L -0.0108 11.9978 L 19.9876 11.9978 L 19.9876 13.9977 Z"></path>
                                        <path d="M 19.9876 19.9976 L -0.0108 19.9976 L -0.0108 17.9976 L 19.9876 17.9976 L 19.9876 19.9976 Z"></path>
                                    </svg>
                                </i>

                                <i>
                                    <svg width="25" viewBox="0 0 47.971 47.971">
                                        <path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"></path>
                                    </svg>
                                </i>
                            </span>
                        </a>


                        <!-- 
                            Logo : height: 60px max
                            visibility : mobile only
                        -->
                        <a class="navbar-brand d-inline-block d-lg-none" href="/dashboard">
                            <img src="/static/images/tafiti_logo.png" alt="..." width="110" height="60">
                        </a>

                    </div>


                    <!-- NAVIGATION -->
                    <div class="collapse navbar-collapse" id="navbarMainNav">

                        <!-- MOBILE MENU NAVBAR -->
                        <div class="navbar-xs d-none">

                            <!-- mobile menu button : close -->
                            <button class="navbar-toggler pt-0" type="button" data-toggle="collapse" data-target="#navbarMainNav" aria-controls="navbarMainNav" aria-expanded="false" aria-label="Toggle navigation">
                                <svg width="20" viewBox="0 0 20 20">
                                    <path d="M 20.7895 0.977 L 19.3752 -0.4364 L 10.081 8.8522 L 0.7869 -0.4364 L -0.6274 0.977 L 8.6668 10.2656 L -0.6274 19.5542 L 0.7869 20.9676 L 10.081 11.679 L 19.3752 20.9676 L 20.7895 19.5542 L 11.4953 10.2656 L 20.7895 0.977 Z"></path>
                                </svg>
                            </button>

                            <!-- 
                                Optional Mobile Menu Logo 
                                Logo : height: 70px max
                            -->
                            <a class="navbar-brand" href="/dashboard">
                                <img src="/static/images/tafiti_logo.png" alt="..." width="110" height="70">
                            </a>

                        </div>
                        <!-- /MOBILE MENU NAVBAR -->

                        <!-- PAGE TITLE -->
                        <div class="search__container">
                            <input id="global_search" class="search__input" type="text" placeholder="Search for users or groups" autocomplete="off">
                            <input name="analysis_range" value="" class="range__input pull-right" type="text" placeholder="Range">
                            <!-- We can add the date pickers here -->
                        </div>

                        <ul class="navbar-nav align-items-center">
                            <div class="page-title bg-transparent b-0">
                                
                            </div>
                        </ul>
                        <!-- PAGE TITLE -->

                    </div>
                    <!-- /NAVIGATION -->


                    <!-- OPTIONS -->
                    <ul class="list-inline list-unstyled mb-0 d-flex align-items-end">

                        <!-- account -->
                        <li class="list-inline-item ml--6 mr--6 dropdown">

                            <a href="#" id="dropdownAccountOptions" class="btn btn-light dropdown-toggle btn-pill pl--12 pr--12" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                                
                                <span class="group-icon m-0">
                                    <!-- <i class="fi fi-user-female"></i> -->
                                    <i class="fi w--15 fi-user-male"></i>
                                    <i class="fi w--15 fi-close"></i>
                                </span>

                                <span class="fs--14 d-none d-sm-inline-block font-weight-medium"> </span>
                            </a>

                        </li>

                    </ul>
                    <!-- /OPTIONS -->

                </nav>

                <!-- TOP NAVIGATION TOGGLER -->
                <button class="navbar-toggler h-auto w-auto m-0 btn btn-sm bg-white rounded-circle position-absolute end-0 mt-1 mb-1 ml-2 mr-2 z-index-2 d-none d-inline-block d-lg-none" type="button" data-toggle="collapse" data-target="#navbarMainNav" aria-controls="navbarMainNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fi fi-bars"></i>
                </button>
                <!-- /TOP NAVIGATION TOGGLER -->

            </div>
            <!-- /NAVBAR -->
        </header> 


        <div id="wrapper_content" class="d-flex flex-fill">

            <!-- SIDEBAR -->
            <aside id="aside-main" class="aside-start aside-primary bg-gradient-dark font-weight-dark aside-hide-xs d-flex align-items-stretch justify-content-lg-between align-items-start flex-column">

                <!-- 
                    LOGO 
                    visibility : desktop only
                -->
                <div class="align-self-baseline w-100">
                    <div class="clearfix d-flex justify-content-between bg-secondary">

                        <!-- Logo : height: 60px max -->
                        <a class="w-100 align-self-center navbar-brand px-3" href="/dashboard">
                            <img src="/static/images/tafiti_logo.png" alt="Dashboard" width="130" height="auto">
                        </a>

                    </div>
                </div>
                <!-- /LOGO -->


                <div class="aside-wrapper scrollable-vertical scrollable-styled-light align-self-baseline h-100 w-100">

                    <nav class="nav-deep badili-nav nav-deep-dark nav-deep-hover fs--15">
                        <ul class="nav flex-column">
                            
                            
                                
                                    <li class="nav-item ">
                                        <a class="nav-link js-ajax" href="#"><i class="fi fi-orbit"></i> Reports</a>
                                        
                                            <ul class="nav flex-column">
                                            
                                                <li class="nav-item ">
                                                    <a class="nav-link js-ajax" href="/groups">WhatsApp Groups</a>
                                                </li>
                                            
                                                <li class="nav-item ">
                                                    <a class="nav-link js-ajax" href="/engaged_users">Enagaged Users</a>
                                                </li>
                                            
                                            </ul>
                                        
                                    </li>
                                
                            
                                
                                    <li class="nav-item ">
                                        <a class="nav-link js-ajax" href="#"><i class="fi fi-users"></i> Manage</a>
                                        
                                            <ul class="nav flex-column">
                                            
                                                <li class="nav-item ">
                                                    <a class="nav-link js-ajax" href="/counselor_assignment">Counselor Assignment</a>
                                                </li>
                                            
                                                <li class="nav-item ">
                                                    <a class="nav-link js-ajax" href="/advisor_assignment">Advisor Assignment</a>
                                                </li>
                                            
                                            </ul>
                                        
                                    </li>
                                
                            
                                
                                    <li class="nav-item ">
                                        <a class="nav-link js-ajax" href="/assigned_counselors"><i class="fi fi-users"></i> Assigned Counselors</a>
                                        
                                    </li>
                                
                            
                                
                                    <li class="nav-item ">
                                        <a class="nav-link js-ajax" href="#"><i class="fi fi-layers-middle"></i> Admin Section</a>
                                        
                                            <ul class="nav flex-column">
                                            
                                                <li class="nav-item ">
                                                    <a class="nav-link js-ajax" href="/users">System Users</a>
                                                </li>
                                            
                                                <li class="nav-item ">
                                                    <a class="nav-link js-ajax" href="/files_repo">Exported Files</a>
                                                </li>
                                            
                                            </ul>
                                        
                                    </li>
                                
                            

                            <li class="nav-title mt-5">
                                <h6 class="fs--15 mb-1 text-white font-weight-normal">
                                    <a class="nav-link js-ajax" href="/logout">
                                        <i class="fi fi-exit"></i>
                                        Logout
                                    </a>
                                </h6>
                            </li>

                        </ul>
                    </nav>

                </div>

            </aside>
            <!-- END OF SIDEBAR -->

            <!-- MIDDLE -->
            <div id="middle" class="flex-fill">
                

<!-- section header -->
<div class="bg-white rounded clearfix p-3 mb-4">
    <h5 class="title">
        <span class=""><i class="fi fi-layers"></i></span>&nbsp;&nbsp;<span class="text-primary">Technoserve Team</span> Analysis
    </h5>
    <!-- <small class="d-block text-muted fs--14">03/09/2021 - 15/09/2021</small> -->

    
        <!-- <div class="portlet-header border-bottom text-primary">
        No records were found in the specified time period 14/07/2021 - 13/08/2021. The last chat date is 15/09/2021. Showing analysis for the period 03/09/2021 - 15/09/2021
        </div> -->
    
</div>

<!-- /section header -->

<div class="app-main__inner">
    <div class="row gutters-sm">

        <!-- COLUMN 1 -->
        <!-- <div class="col-12 col-xl-4 col-md-6 col-sm-12 mb-4">
            <div class="tns_card">
                <span class="tns_card_title">Most Active Day</span>
                <div class="d-flex">
                    <img src="/static/images/tag.svg" alt="tag" class="tag">
                    <span class="tns_tag_value">13/09/2021, Monday</span>
                </div>
            </div>
            <div class="tns_card">
                <span class="tns_card_title">Attrition Level</span>
                <div class="row">
                    <div class="col-5">
                        <div class="d-flex text-center">
                            <div id="attrition" class="gauge-container red" style="height:auto;"><svg viewBox="0 0 100 100" class="gauge"><path class="dial" fill="none" stroke="#eee" stroke-width="2" d="M 50 10 A 40 40 0 1 1 49.999 10"></path><text x="50" y="50" fill="#999" class="value-text" font-size="100%" font-family="sans-serif" font-weight="normal" text-anchor="middle" alignment-baseline="middle" dominant-baseline="central">0%</text><path class="value" fill="none" stroke="#666" stroke-width="2.5" d="M 50 10 A 40 40 0 0 1 50 10"></path></svg></div>
                        </div>
                    </div>
                    <div class="col-7 pl-0 pt-4">
                        <div class="row mt-4">
                            <div class="col-3">
                                <button type="button" class="btn rounded-circle btn-danger btn-soft mb-2"><i class="fi fi-arrow-down"></i></button>
                            </div>
                            <div class="col-9 pt-3">
                                <span class="tns_tag_value">0</span>
                                <span class="tns_tag_value">Left Users</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tns_card">
                <span class="tns_card_title">Joining Level</span>
                <div class="row">
                    <div class="col-5">
                        <div class="d-flex text-center">
                            <div id="joining" class="gauge-container green" style="height:auto;"><svg viewBox="0 0 100 100" class="gauge"><path class="dial" fill="none" stroke="#eee" stroke-width="2" d="M 50 10 A 40 40 0 1 1 49.999 10"></path><text x="50" y="50" fill="#999" class="value-text" font-size="100%" font-family="sans-serif" font-weight="normal" text-anchor="middle" alignment-baseline="middle" dominant-baseline="central">100%</text><path class="value" fill="none" stroke="#666" stroke-width="2.5" d="M 50 10 A 40 40 0 1 1 49.999 10"></path></svg></div>
                        </div>
                    </div>
                    <div class="col-7 pl-0 pt-4">
                        <div class="row mt-4">
                            <div class="col-3">
                                <button type="button" class="btn rounded-circle btn-success btn-soft mb-2"><i class="fi fi-arrow-up"></i></button>
                            </div>
                            <div class="col-9 pt-3">
                                <span class="tns_tag_value">1</span>
                                <span class="tns_tag_value">New Users</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tns_card">
                <span class="tns_card_title">Group Name Changes</span>
                <ul id="group_names" class="pl-0">
                    
                </ul>
            </div>
        </div> -->
        <!-- END OF COLUMN 1 -->

        <!-- COLUMN 2 -->
        <div class="col-12 col-xl-4 col-md-6 col-sm-12 mb-3">
    <div class="chat_window body">
        <div class="chat-header">
            <div class="user">
                <img src="/home/egide/Downloads/istockphoto-1136653100-170667a.jpg" alt="Technorserver">
                <p></p>
                <div class="chat-about">
                    <div class="chat-with">Technorserver WhatsApp Group</div>
                    <div class="chat-num-messages">12 messages</div>
                </div>
            </div>
            <!-- <div class="setting">
                <a href="javascript:void(0);" class="btn"><i class="fa fa-gear"></i></a>
            </div> -->
        </div>
        <hr>
        <ul class="chat-history">
            <li class="clearfix">
                <div class="status online message-data text-right">
                    <span class="name">Egide</span>
                    <i class="fa fa-circle me"></i>
                </div>
                <div class="message other-message float-right">
                    Hi Esther, how are you? How is the project coming along?
                    <span class="time">10:10 AM, Today</span>
                </div>
            </li>
            <li>
                <div class="status message-data">
                    <span class="name">Esther</span>
                </div>
                <div class="message my-message">
                    <p>Are we meeting today? Project has been already finished and I have results to show you.</p>
                    <div class="attachment">
                        <a href="javascript:void(0);"><img src="assets/images/image-gallery/2.jpg" alt=""
                                class="img-fluid img-thumbnail"></a>
                        <a href="javascript:void(0);"><img src="assets/images/image-gallery/5.jpg" alt=""
                                class="img-fluid img-thumbnail"></a>
                    </div>
                    <span class="time">10:12 AM, Today</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="status online message-data text-right">
                    <span class="name">Egide</span>
                    <i class="fa fa-circle me"></i>
                </div>
                <div class="message other-message float-right">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                    <span class="time">10:15 AM, Today</span>
                </div>
            </li>
            <li>
                <div class="status message-data">
                    <span class="name">Esther</span>
                </div>
                <!-- <i class="fa fa-circle" style="color: #04BE5B; font-size: 10px;"></i>
                <i class="fa fa-circle" style="color: #83d0a7; font-size: 10px;"></i>
                <i class="fa fa-circle" style="color:#DAE9DA; font-size: 10px;"></i> -->
            </li>
        </ul>
        <!-- <div class="chat-box">
            <a href="javascript:void(0);" class="btn"><i class="fa fa-paperclip"></i></a>
            <a href="javascript:void(0);" class="btn"><i class="fa fa-camera"></i></a>
            <a href="javascript:void(0);" class="btn"><i class="fa fa-smile-o"></i></a>
            <a href="javascript:void(0);" class="btn"><i class="fa fa-file-text"></i></a>
            <a href="javascript:void(0);" class="btn"><i class="fa fa-envelope-o"></i></a>
            <a href="javascript:void(0);" class="btn"><i class="fa fa-drivers-license-o"></i></a>
            <div class="input-group">
                <textarea class="form-control" placeholder="Enter text here..." required=""> </textarea>
            </div> -->
        </div>
    </div>
        </div>
        <!-- END OF COLUMN 1 -->

        <!-- COLUMN 3 -->
        <!-- <div class="col-12 col-xl-4 col-md-6 col-sm-12 mb-3">
            <div class="tns_card">
                <span class="tns_card_title">Most Popular emoji</span>
                <div class="d-flex">
                    <img src="/static/images/tag.svg" alt="tag" class="tag">
                    
                    <span class="tns_tag_value emoji_pop">🤣</span>
                    
                </div>
            </div>
            <div class="tns_card">
                <span class="tns_card_title">Active Days</span>
              
            </div>
        </div> -->
        <!-- END OF COLUMN 1 -->
    </div>
</div>


            </div>

        </div>


        <footer id="footer">
            <div class="bg-gradient-purple rounded text-white p-3 fs--14 aside-primary">
                 Tafiti Chat Analysis - Group Statistics

                <div class="d-inline-block float-end dropdown">
                    Designed and developed by <a href="https://tnslabs.org/" target="_blank">TechnoServe Labs</a>
                </div>

            </div>
        </footer>
    

</body>

</html>

<style>
  .page_header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E9E9;
  }
  .btn-animated-y .btn-inner--hidden {
    left: 0;
    bottom: -150%;
    -webkit-transition: bottom .3s ease 0s;
    transition: bottom .3s ease 0s;
}

.btn-animated .btn-inner--hidden {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
</style>

<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
