{% extends "emails/base_email.html" %}
{% block main_content %}
    <tr>
        <td width="100%" align="center" valign="top">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="container top-header-left">
                <tr>
                    <td class="high-top" height="40"></td>
                </tr>
        <td>
            <table width="800" border="0" align="center" cellpadding="0" cellspacing="0" class="mainContent">
                <!-- /logo -->
                <tr align="center">
                    <td><a href="{{ site_url }}" style="display:block;"><img src="https://tns-tafiti.s3.eu-west-2.amazonaws.com/static/images/tafiti_logo.png" alt="" border="0" height="100px" width="auto"></a></td>
                </tr>
                <!-- //logo -->
        <td class="high-top" height="20"></td>
        <!-- verify -->
    <tr>
        <td class="h-t" align="center" mc:edit="title1" class="main-header" style="color: #1E2171; font-size:2em;font-weight:bold;">
            {{ title }}
        </td>
    </tr>
    <!-- //verify -->
    <td height="40"></td>
    <!-- border -->
    <tr>
        <td style="border-bottom: 2px solid #eee;" class="notho"></td>
    </tr>
    <!-- //border -->
    <td height="40"></td>
    <!-- message -->
    <tr>
        <td class="sub-ht" class="left_align main-header" style="color: #333;font-size:1.4em;">
            <div>{{ message }}</div>
        </td>
    </tr>
    <!-- //message -->
    
{% endblock %}

