PYTHONUNBUFFERED=1

# Sentry details. These will be used to construct the final SENTRY url
SENTRY_USER='msambou@andrew.cmu.edu'
SENTRY_PASS='ade62f3944c3458ea323d7c23e0c219d3de5e592ebab4f5591e681abe513c5b8'                                                            # The sentry password hash being used
SENTRY_PROJID='carnegie-mellon-university-v1'

# The main admin email
ADMIN_EMAIL=developer.sambou@gmail.com

# Email settings 
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
SENDER_EMAIL=
SENDER_PASSWORD=
MAIL_USERNAME=Mike
MAIL_FROM_NAME=Michael                                                    # Include this for emails to look nice


# the key that will be used for encryption
SECRET_KEY=generate-a-strong-key-for-the-application

DEFAULT_DB_NAME=whatsapp_chat_analyzer
DEFAULT_DB_USER=phpmyadmin
DEFAULT_DB_PASS=Account@2021
DEFAULT_DB_HOST=localhost
DEFAULT_DB_PORT=3306

# Define the details for the super user in the application
DJANGO_ADMIN_USERNAME=master-username
DJANGO_ADMIN_PASSWORD=master-password
DJANGO_ADMIN_EMAIL=master-email@gmail.com

DEFAULT_DB_ENGINE=django.db.backends.mysql
MYSQL_ROOT_PASSWORD=mysql-root-admin                                         # This user is needed for creating databases

# Amazon S3 settings
USE_S3=False                                                                  # Determine whether to use static files from Amazon S3 or not
AWS_ACCESS_KEY_ID=YOUR-AMAZON-ACCESS-KEY
AWS_SECRET_ACCESS_KEY=YOUR-S3-SECRET-ACCESS-KEY
AWS_STORAGE_BUCKET_NAME=amazon-s3-bucket-name
AWS_S3_REGION_NAME=the-amazon-region

# WhatsApp chats location
USE_GCP=False                                                               # If to use Google Cloud for WhatsApp chat storage
GCP_DRIVE_ID=1LPyG58hCMnMd6m9touobHPUXCPGfmD6a




# Mike Sambou Modifications
DB_NAME=whatsapp_chat_analyzer
DB_USER=phpmyadmin
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306